*, *::before, *::after {
    box-sizing: border-box;
}

h1 {
    font-size: 11vmin;
    font-weight: 700;
    margin-bottom: 2vmin;
    margin-top: 2vmin;
}

h2 {
    font-size: 8.5vmin;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 3vmin;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Nothing You Could Do', cursive;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 20vmin);
    grid-template-rows: repeat(3, 20vmin);
    gap: 0vmin;   
}

#board div {
    /*border-radius: 50%;*/
    /*border: 5px solid grey;*/
    width: 20vmin;
    height: 20vmin;
    gap: 0vmin;
}

.row {
    display: inline-block;  
}

.row div {
    border: 3px solid grey;
    font-size: 20vmin;
    text-align: center;
    vertical-align: center;
    line-height: 20vmin;
    font-family: 'Permanent Marker', cursive;
    /*padding: 0;*/
}

#r0c0 {
    border-top: 0;
    border-left: 0;
}

#r0c1 {
    border-top: 0;
}

#r0c2 {
    border-top: 0;
    border-right: 0;
}

#r1c0 {
    border-left: 0;
}

#r1c2 {
    border-right: 0;
}

#r2c0 {
    border-left: 0;
    border-bottom: 0;
}

#r2c1 {
    border-bottom: 0;
}

#r2c2 {
    border-right: 0;
    border-bottom: 0;
}

#replay {
    visibility: hidden;
    font-family: 'Nothing You Could Do', cursive;
    margin-top: 0;
    font-size: 4.25vmin;
    font-weight: 600;
    color: snow;
    background-color: midnightblue;
}

#player {
    font-family: 'Permanent Marker', cursive;
}